@model WebApplication2.Models.ProducType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProducType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
